streamlit>=1.28.0
streamlit-cookies-controller>=0.0.4
requests>=2.31.0
pandas>=2.0.0
plotly>=5.15.0
python-dotenv>=1.0.0
pillow>=10.0.0
# IA e Banco de Dados
openai>=1.0.0
psycopg2-binary>=2.9.7
numpy>=1.24.0
pytest==7.4.4
playwright==1.41.2
pytest-playwright==0.4.4
pytest-asyncio==0.23.2